openai~=1.13.3
python-dotenv~=1.0.1
langchain~=0.1.10
pinecone-client~=3.1.0
langchain-openai
langchain-pinecone
langchain-mistralai
requests~=2.31.0
pandas~=2.2.1
streamlit~=1.32.2
streamlit-feedback~=0.1.3
nltk
spacy
pypdf~=4.1.0
